[submodule "Ciapre-Xcode-theme"]
	path = Ciapre-Xcode-theme
	url = https://github.com/vinhnx/Ciapre-Xcode-theme.git
[submodule "Objective-C"]
	path = Objective-C
	url = https://github.com/Xcode-Snippets/Objective-C.git
[submodule "DZTableView"]
	path = DZTableView
	url = https://github.com/yishuiliunian/DZTableView.git
[submodule "dev-blog"]
	path = dev-blog
	url = https://github.com/nixzhu/dev-blog.git
[submodule "favourite.module.ios/TransformerKit"]
	path = favourite.module.ios/TransformerKit
	url = https://github.com/mattt/TransformerKit.git
[submodule "iOS-Pro"]
	path = iOS-Pro
	url = https://github.com/tangqiaoboy/iOS-Pro.git
[submodule "swift-compiler-crashes"]
	path = swift-compiler-crashes
	url = https://github.com/practicalswift/swift-compiler-crashes.git
