[submodule "Ciapre-Xcode-theme"]
	path = Ciapre-Xcode-theme
	url = https://github.com/vinhnx/Ciapre-Xcode-theme.git
[submodule "xcode-themes"]
	path = xcode-themes
	url = https://github.com/fallending/xcode-themes.git
